@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-layout {
    @apply w-[1400px] m-auto;
  }
  .bg-bold{
    @apply bg-[#142b30]
  }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

